page-profile {
.center{
     text-align:center;
}

.summitbutton{
    height: 30px !important;
    font-size: 15px !important;
}

 .background{
    background-image: url('../assets/imgs/login-bg1.jpg');
    height: 100%;
    width: 100%;
    background-position: center;
    position: fixed;
    background-size: cover;
    text-align: center
}
}
