page-forgotpassword {
  .background{
    background-image: url('../assets/imgs/login-bg1.jpg');
    height: 100%;
    width: 100%;
    background-position: center;
    position: fixed;
    background-size: cover;
}
.login-card{
    margin-top: 40%;
    color: #fff;    background-image: url('assets/img/bg-strips-light.jpg');
    background-repeat: repeat;
}
.submitbtn{
    color: #FFFFFF;
    background-image: none;
    background-color: #32CD32;
    border-color: #008000;
    height: 30px;
    border-radius: 5px;
}
.login-links{
    font-size: smaller;
    font-weight: normal;
}

 .invalid {
     border-bottom: 1px solid #ea6153;
     }
ion-input {
    border-bottom: 1px solid  #008000;
    }

.toolbar-background-md {
    background-color: #FFFFFF
}
}
