page-termsandconditions {
.background{
    background-image: url('../assets/imgs/login-bg1.jpg');
    height: 100%;
    width: 100%;
    background-position: center;
    position: fixed;
    background-size: cover;
    }
}
