page-orderhistory {
 .background{
    background-image: url('../assets/imgs/login-bg1.jpg');
    height: 100%;
    width: 100%;
    background-position: center;
    position: fixed;
    background-size: cover;
    text-align: center
}
.maintext{
    text-align: start;
    margin-top: 0px !important;
    margin-left: 15px;
}
}
